.header {
  width: 100%;
  height: 7vh;
  line-height: 7vh;
  padding: 0 20px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  column-gap: 25px;
}
.header ul li {
  list-style: none;
  margin: 0px;
}
.header ul li.link-item {
  font-size: 13px;
  font-weight: 500;
}
.header ul li .icon {
  font-size: 22px;
}
.header ul li .profile {
  border-radius: 50%;
}
.header ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.head_title {
  width: 100%;
  height: 229px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.head_title h1 {
  font-size: 6em;
  letter-spacing: 2px;
}
.head_title h1 span:nth-child(1) {
  color: #0087f4;
}
.head_title h1 span:nth-child(2) {
  color: #ff2f19;
}
.head_title h1 span:nth-child(3) {
  color: #ffb900;
}
.head_title h1 span:nth-child(4) {
  color: #0087f4;
}
.head_title h1 span:nth-child(5) {
  color: #00aa5a;
}
.head_title h1 span:nth-child(6) {
  color: #ff2f19;
}
.input_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp_field {
  width: 582px;
  height: 44px;
  margin: 20px 0;
  position: relative;
}
.inp_field input {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  outline: none;
  border: 1px solid #dee1e5;
  padding: 0px 40px;
}

.inp_field .Search_icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 14px);
  color: #98a0a6;
}

.inp_field .google_mic {
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
}
.search_btn {
  width: 584px;
  height: 58px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.search_btn input[type="submit"]{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.languages{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 10px;
  font-size: 13px;
  margin-top: 15px;
}
.languages a{
  color: #1a0dab;
  text-decoration: none;
}